<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Awareness Report</title>
    <style type="text/css">

         @page rotated { size : landscape; margin: 1cm; }

        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }

        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #000;
            text-align: center;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }

        .table tbody + tbody {
            border-top: 2px solid #000;
        }

        .table .table {
            background-color: #fff;
        }

        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }

        table.tableizer-table {
            font-size: 12px;
            border: 1px solid #CCC;
            font-family: Arial, Helvetica, sans-serif;
        }

        .tableizer-table td {
            padding: 4px;
            margin: 3px;
            border: 1px solid #CCC;
        }

        .tableizer-table th {
            background-color: #104E8B;
            color: #FFF;
            font-weight: bold;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Awareness Report - {{ today | date:"d/m/Y" }}</h3>
        </div>



        <table class="table">
           <tbody>
            <tr>
                <td>Driver Name</td>
                <td>Umesh Sapra</td>
                <td>Age</td>
                <td>26</td>
                <td>Gender</td>
                <td>M</td>
                <td>Month</td>
                <td>01/19</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Total Kms Travelled</td>
                <td>100</td>
                <td>Total Hours Travelled</td>
                <td>25</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>DSS Score</td>
            </tr>
            <tr>
                <td>Jan</td>
                <td>&nbsp;</td>
                <td>Dec</td>
                <td>&nbsp;</td>
                <td>Nov</td>
                <td>&nbsp;</td>
                <td>Oct</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>90</td>
                <td>&nbsp;</td>
                <td>87</td>
                <td>&nbsp;</td>
                <td>67</td>
                <td>&nbsp;</td>
                <td>89</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td>Events</td>
                <td>Speed Limit Violation</td>
                <td>Distracted driving/Phone Usage/messages/talking on phone</td>
                <td>Hard Acceleration</td>
                <td>Hard Braking</td>
                <td>Sudden Turns</td>
                <td>Lane change (not accompanied by indicator sound)</td>
                <td>Sudden lane change</td>
                <td>Speed too high for the curve</td>
                <td>Rainy curve</td>
                <td>All Events</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>4</td>
                <td>6</td>
                <td>7</td>
                <td>9</td>
                <td>30</td>
                <td>3</td>
                <td>90</td>
                <td>33</td>
                <td>24</td>
                <td>206</td>
            </tr>

            <tr>
                <td>Events</td>
                <td>Speed Limit Violation</td>
                <td>Distracted driving/Phone Usage/messages/talking on phone</td>
                <td>Hard Acceleration</td>
                <td>Hard Braking</td>
                <td>Sudden Turns</td>
                <td>Lane change (not accompanied by indicator sound)</td>
                <td>Sudden lane change</td>
                <td>Speed too high for the curve</td>
                <td>Rainy curve</td>
                <td>All Events</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>7</td>
                <td>8</td>
                <td>5</td>
                <td>2</td>
                <td>2</td>
                <td>8</td>
                <td>9</td>
                <td>9</td>
                <td>0</td>
                <td>50</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="list-group">
       <p style="font-weight: bold">Key areas of improvement required</p>
       <p > 1. Sudden turns as score <50</p>
       <p > 2. Hard Acceleration as score <50</p>
    </div>
</div>

</body>
</html>
