<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Driver Risk Report</title>
    <style type="text/css">

	   body {
	       font-family: arial;
		}
        @page {
            size: A4;
            margin: 1cm;
            font-family: arial;
        }
      h3, h1 {
    font-size: 13px;
    font-weight: bold;
}
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }
	.table th {
	font-size: 13px;
	font-weight: bold;
	}
			.table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #000;
            text-align: center;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }

        .table tbody + tbody {
            border-top: 2px solid #000;
        }

        .table .table {
            background-color: #fff;
        }

        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
			font-size: 11px;
        }

        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 11px;
        }

        .tg {
            border-collapse: collapse;
            border-spacing: 0;
            border-color: #aabcfe;
            margin: 0px auto;
        }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 11px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: #aabcfe;
            color: #669;
            background-color: #e8edff;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 13px;
            font-weight: normal;
            padding: 7px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: #aabcfe;
            color: #039;
            background-color: #b9c9fe;
        }

        .tg .tg-hmp3 {
            background-color: #D2E4FC;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-4996 {
            font-size: 14px;
            text-align: right;
            vertical-align: top
        }

        .tg .tg-2e5m {
            background-color: #D2E4FC;
            font-weight: bold;
            font-size: 13px;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-lvth {
            font-size: 13px;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-ltad {
            font-size: 11px;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-geol {
            background-color: #D2E4FC;
            font-size: 13px;
            text-align: center;
            vertical-align: top;
			padding: 5px 0px;
        }
        .tg .tg-lvth {
            padding: 5px 0px;
        }
        .tg-geol {
              border-top: 8px solid #fff;
        }

        .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }        
        .graph_img
        {
            width: 400px;
        }
		.card {
		font-size: 11px;
	  }
    </style>
</head>
<body>

<div class="container">
    <div class="card">
         <center><img src="media/logo.jpg" style="width:70px"> </center>
        <center><h3>DRIVEIQ</h3></center>
        <div class="card-header">
            <h1>DriverIQ Smart Report - {{ today | date:"d/m/Y" }}</h1>
        </div>

        <div class="list-group">
            {% for user in users %}
            <p>Name: {{ username }}</p>
            <p>Mobile Number: {{ user.mobile }}</p>
            {% endfor %}
        </div>

        <table class="tg">
            <tr>
                <th class="tg-lvth" colspan="5" style="padding: 5px 0px;"><span style="font-weight:bold;color:rgb(0, 51, 153)">Smart Report</span>
                </th>
            </tr>
            <tr>
                <td class="tg-2e5m">From</td>
                <td class="tg-2e5m">To</td>
                <td class="tg-2e5m">Total Distance (Km) <br></td>
                <td class="tg-2e5m">Average Speed (Km/hr)<br></td>
                <td class="tg-2e5m">Time in Traffic (Day:Night)</td>
            </tr>
            <tr>
                <td class="tg-ltad">{{ from }}</td>
                <td class="tg-ltad">{{ to }}</td>
                <td class="tg-ltad">{{ record.total_distance }}</td>
                <td class="tg-ltad">{{speed }}</td>
                <td class="tg-ltad">{{ record.timein_traffic.Day }} : {{record.timein_traffic.Night}}</td>
            </tr>
        </table>
        <table class="tg" style="margin-top: 10px;">
            <tr>
                <td class="tg-geol" colspan="5" style="padding: 5px 0px;"><span style="font-weight:bold;color:rgb(53, 49, 255)">Driving Score Distribution</span>
                </td>
            </tr>
              <tr>
                {% for image in excellent_driving_graph %}
                    <th colspan="5"> <img class="graph_img" src={{image}}></th>
                {% endfor %}
            </tr>
        </table>
        <table class="tg" style="margin-top: 10px;">
            <tr style="padding-top:20px">
                <td class="tg-geol" colspan="5" style="padding: 5px 0px;"><span style="font-weight:bold;color:rgb(53, 49, 255)">Overall Driving Score {{ overall_score }} %</span>
                </td>
            </tr>
            <tr>
                <td class="tg-0lax" colspan="2">Excellent Driving</td>
                <td class="tg-0lax" colspan="2">Fair Driving</td>
                <td class="tg-0lax" colspan="1">Risky Driving</td>
            </tr>
            <tr>
                <td class="tg-hmp3" colspan="2">{{ record.excelent_driving }}%</td>
                <td class="tg-hmp3" colspan="2">{{ record.fair_driving }}%</td>
                <td class="tg-hmp3" colspan="1">{{ record.risky_driving }}%</td>
            </tr>
        </table>
        <table class="tg" style="margin-top: 40px;">
            <tr>
                <th class="tg-lvth" colspan="4" style="padding: 5px 0px;"><span style="font-weight:bold;color:rgb(0, 51, 153)">Score Range</span>
                </th>
            </tr>
            <tr>
                {% for list in heading_list %}
                    <th style="text-align: left;"> {{ list }} </th>
                {% endfor %}
            </tr>
            {% for details in values_list %}
            <tr>
                {% for data in details %}
                <td> {{ data }} </td>
                {% endfor %}               
            </tr>
            {% endfor %}
            
        </table>

        <table class="tg" style="margin-top: 10px;">
         {% if type > 0 %}
            <tr>
                <th class="tg-lvth" colspan="4" style="padding: 5px 0px;"><span style="font-weight:bold;color:rgb(0, 51, 153)">Key Areas to be Improved</span>
                </th>
            <tr ><th style="text-align: left;" colspan="1">Event</th>
                <th style="text-align: left;" colspan="1">Low Score Month</th>
             <th style="text-align: left;" colspan="2">Feedback</th></tr>
            </tr>
            {% for k,v in improvement_areas.items %}
                {% if v.value < 50 %}
                <tr>
                    <td colspan="1"> {{ k }} </td>
                    <td   colspan="1"> {{ v.month }} </td>
                    <td colspan="2"> {{ v.msg }} </td>


                </tr>
                {% endif %}
            {% endfor %}

        {% endif %}
        </table>


         <table class="tg" style="margin-top:10px">
             <tr>
                <th class="tg-lvth" colspan="7" style="padding: 5px 0px;"><span style="font-weight:bold;color:rgb(0, 51, 153)">Driving Style</span>
                </th>
            </tr>
            <tr>
                {% for list in table_data_header %}
                    <th style="text-align: left;"> {{ list }} </th>
                {% endfor %}
            </tr>
            {% for details in event_data_table %}
            <tr>
                {% for data in details %}
                <td> {{ data }} </td>
                {% endfor %}
            </tr>
            {% endfor %}

        </table>

    </div>
</div>
<div class="container">
    <div class="card">
        <table class="tg" style="margin-top: 240px;">
            <tr>
                <th class="tg-lvth" colspan="2" style="padding: 5px 0px;"><span style="font-weight:bold;color:rgb(0, 51, 153)">Pattern Analysis</span>
                </th>
            </tr>
            <tr>
                {% for image in graphs_image_list1 %}
                    <th> <img class="graph_img" src={{image}} ></th>
                {% endfor %}
            </tr>
            <tr>
                {% for image in graphs_image_list2 %}
                    <th> <img class="graph_img" src={{image}} ></th>
                {% endfor %}
            </tr>
            <tr>
                {% for image in graphs_image_list3 %}
                    <th> <img class="graph_img" src={{image}} ></th>
                {% endfor %}
            </tr>
             <tr>
                {% for image in graphs_image_list4 %}
                    <th> <img class="graph_img" src={{image}} ></th>
                {% endfor %}

<!--               <tr>-->
<!--                <td class="tg-geol" colspan="2"><span style="font-weight:bold;color:rgb(53, 49, 255)">Time Vs Event Chart</span>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                {% for image in graphs_image_list5 %}-->
<!--                    <th colspan="2"> <img class="graph_img" src={{image}} ></th>-->
<!--                {% endfor %}-->
<!--            </tr>-->
        </table>

<!--            <table class="tg" style="margin-top: 10px;">-->
<!--            <tr>-->
<!--                <th class="tg-lvth" colspan="3"><span style="font-weight:bold;color:rgb(0, 51, 153)">Final Analysis</span>-->
<!--                </th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="tg-2e5m" colspan="1">Absolute Skill Score</td>-->
<!--                <td class="tg-2e5m" onclick="1">Absolute Agression Score</td>-->
<!--                <td class="tg-2e5m" colspan="1">Relative Skill Score</td>-->
<!--&lt;!&ndash;                <td class="tg-2e5m" colspan="1">Relative Agression Score<br></td>&ndash;&gt;-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="tg-ltad" colspan="1">{{ ass_user }}</td>-->
<!--                <td class="tg-ltad" colspan="1">{{ aas_user }}</td>-->
<!--                <td class="tg-ltad" colspan="1">{{ rss_user }}</td>-->
<!--&lt;!&ndash;                <td class="tg-ltad" colspan="1">{{ ras_user}}</td>&ndash;&gt;-->

<!--            </tr>-->
<!--        </table>-->
    </div>
</div>
</body>
</html>
