<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sales Report</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }
        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #000;
            text-align: center;
        }
        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }
        .table tbody + tbody {
            border-top: 2px solid #000;
        }
        .table .table {
            background-color: #fff;
        }
        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Sales Report - {{ today | date:"d/m/Y" }}</h3>
        </div>

        <div class="list-group">
            <p>Name: Demo PDF</p>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Distance</th>
                <th>Duration</th>
                <th>Excellent Driving</th>
                <th>Risky Driving</th>
            </tr>
            </thead>
            <tbody>
            {% for trip in trips %}
                <tr>
                    <td>{{ trip.created_date | date:"d/m/Y" }}</td>
                    <td>{{ trip.distance }}</td>
                    <td>{{ trip.duration }}</td>
                    <td>{{ trip.excellent_driving }}</td>
                    <td>{{ trip.risky_driving}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
