 <!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ type }} Report</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }

        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }

        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #000;
            text-align: center;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }

        .table tbody + tbody {
            border-top: 2px solid #000;
        }

        .table .table {
            background-color: #fff;
        }

        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }

        .tg {
            border-collapse: collapse;
            border-spacing: 0;
            border-color: #aabcfe;
            margin: 0px auto;
        }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: #aabcfe;
            color: #669;
            background-color: #e8edff;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: #aabcfe;
            color: #039;
            background-color: #b9c9fe;
        }

        .tg .tg-hmp3 {
            background-color: #D2E4FC;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-4996 {
            font-size: 14px;
            text-align: right;
            vertical-align: top
        }

        .tg .tg-2e5m {
            background-color: #D2E4FC;
            font-weight: bold;
            font-size: 14px;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-lvth {
            font-size: 16px;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-ltad {
            font-size: 14px;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-geol {
            background-color: #D2E4FC;
            font-size: 16px;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }
        #container1
        {
            padding-left: 100px;
            padding-top: 50px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>{{ type }} Report - {{ today | date:"d/m/Y" }}</h1>
        </div>

        <div class="list-group">
            {% for user in users %}
            <p>Name: {{ user.username }}</p>
            <p>Mobile Number: {{ user.mobile }}</p>
            {% endfor %}
        </div>

        <table class="tg">
            <tr>
                <th class="tg-lvth" colspan="5"><span style="font-weight:bold;color:rgb(0, 51, 153)">{{ type }} Report</span>
                </th>
            </tr>
            <tr>
                <td class="tg-2e5m">From</td>
                <td class="tg-2e5m">To</td>
                <td class="tg-2e5m">Total Distance (Km) <br></td>
                <td class="tg-2e5m">Average Speed (Km/hr)<br></td>
                <td class="tg-2e5m">Time in Traffic</td>
            </tr>
            <tr>
                <td class="tg-ltad">{{ from }}</td>
                <td class="tg-ltad">{{ to }}</td>
                <td class="tg-4996">{{ record.total_distance }}</td>
                <td class="tg-4996">{{ record.speed }}</td>
                <td class="tg-4996">{{ record.timein_traffic.Day }} : {{record.timein_traffic.Night}}</td>
            </tr>
            <tr>
                <td class="tg-geol" colspan="5"><span style="font-weight:bold;color:rgb(53, 49, 255)">Overall Driving Score {{ record.excelent_driving }} %</span>
                </td>
            </tr>
           <tr>
                <td class="tg-0lax" colspan="2">Excellent Driving</td>
                <td class="tg-0lax" colspan="2">Fair Driving</td>
                <td class="tg-0lax" colspan="1">Risky Driving</td>
            </tr>
            <tr>
                <td class="tg-hmp3" colspan="2">{{ record.excelent_driving }}%</td>
                <td class="tg-hmp3" colspan="2">{{ record.fair_driving }}%</td>
                <td class="tg-hmp3" colspan="1">{{ record.risky_driving }}%</td>
            </tr>
        </table>

        <div id="container1">
            <img src={{graph_image}} height="600px" width="100%" style="margin-top: 20px; margin-left: 5%">
            
        </div>
    </div>
    <div class="graph">
        
    </div>
</div>

</body>
</html>
