<html>

<head>
	<title> Form for testing </title>
</head>

<style>
	.div_left, .div_right
	{
		float: left;
		width: 30%;
		margin-left: 5%;
		padding: 20px;`
		border : 2px groove #cccccc;
		border-radius: 10px;
	}

</style>
<body>

	<div class="div_left">
		<h2 align="center"> Smart Report </h5>
		<form method="POST" action='/api/trip/smart-report-new'>
			{% csrf_token %}
			<table>
				<tr>
					<th>From : </th>
					<td> <input type="text" name="from_date" placeholder="YYYY-MM-DD"> </td>
				</tr>
				<tr>
					<th>To : </th>
					<td> <input type="text" name="to_date" placeholder="YYYY-MM-DD"> </td>
				</tr>
				<tr>
					<th>User ID :</th>
					<td> <input type="text" name="user_id"> </td>
				</tr>
				<tr>
					<th>Type: </th>
					<td> <input type="text" name="type"> </td>
				</tr>
				<tr>
					<th>Email : </th>
					<td> <input type="text" name="email"> </td>
				</tr>
				<tr>
					<th colspan="2">
						<input type="submit" value="Create PDF">
					</th>
				</tr>
			</table>
		</form>
	</div>
	<div class="div_right">
		<h2 align="center"> Monthly Report </h5>
		<form method="POST" action='/api/trip/monthly-report-new'>
			{% csrf_token %}
			<table>
				<tr>
					<th>From : </th>
					<td> <input type="text" name="from_date" placeholder="YYYY-MM-DD"> </td>
				</tr>
				<tr>
					<th>To : </th>
					<td> <input type="text" name="to_date" placeholder="YYYY-MM-DD"> </td>
				</tr>
				<tr>
					<th>User ID :</th>
					<td> <input type="text" name="user_id"> </td>
				</tr>
				<tr>
					<th>Type: </th>
					<td> <input type="text" name="type"> </td>
				</tr>
				<tr>
					<th>Email : </th>
					<td> <input type="text" name="email"> </td>
				</tr>
				<tr>
					<th colspan="2">
						<input type="submit" value="Create PDF">
					</th>
				</tr>
			</table>
		</form>
	</div>

<body>

</html>